*{
    margin:0;
    padding:0;
}

body,html{
    background-color: black;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#container
{
    position: relative;
    height: 400px;width: 700px;
    max-height: 400px;
    max-width: 700px;
    background-color: blue;
    overflow: hidden;
}

.imagedisplay{
    height: 400px;
    width: 700px;
}

#rightslider{
    position:absolute;
    right:0;
    top: 45%;
    width: 50px;
    text-align: center;
    cursor:pointer;
}

#leftslider{
    position: absolute;
    left:0;
    top:45%;
    width: 50px;
    text-align: center;
    cursor: pointer;
}

#rightslider:hover, #leftslider:hover{
    background-color: black;
}

.sliderstyle{
    font-size: 35px;
    color: white;
}

/* navigation */

#navigation{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    height: 30px;
    width: 700px;
    background-color: black;
}

.navbutton{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.navbutton:hover{
    background-color: gray;
}

.showimage{
    display: block;
}

.hide{
    display: none;
}

.enableColor{
    background-color: white;
}

.disableColor{
    background-color: greenyellow;
}